.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.send-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    margin-top: 8px;
    cursor: pointer;
    border: none;
}

.send-btn i {
    font-size: 20px;
}

.home-info .btn-sci {
    display: flex;
    align-items: center;
}

.home-info .btn-sci .sci {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
}

.home-info .btn-sci .sci a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    transition: .5s;
}

.home-info .btn-sci .sci a:hover {
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}
